<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Index</title>
    </head>
    
    <body>
        <h1>Inicio v.1</h1>
        <p th:text="${mensaje}"></p>

        <p><a th:href="@{/add}">Añadir Usuario</a></p>
       
       <table th:if="${usuarios!=null and !usuarios.empty}">
    	<tr>
    	  <th>Nombre</th>
    	  <th>Correo</th>
    	  <th>Acciones</th>
    	</tr>
    	<tr th:each="usuario : ${usuarios}">
          <td th:text="${usuario.nombre}">Nombre Persona</td>
    	  <td th:text="${usuario.email}">Correo Persona</td>
    	  <td>
    	      <a th:href="@{/edit/} + ${usuario.id}" th:text="Editar">Editar</a> | 
    	      <a th:href="@{/delete(id=${usuario.id})}" th:text="Eliminar">Eliminar</a>
    	  </td>
    	</tr>
    	</table>
    	<p th:if="${usuarios==null or usuarios.empty}">No hay usuarios</p>	
	
	</body>
</html>